In [67]:
SELECT DISTINCT category
FROM products;

          category
0        Furniture
1  Office Supplies
2       Technology

In [68]:
-- top_five_products_each_category
WITH top_5 AS (
	SELECT p.category,
	       p.product_name,
	       CAST(ROUND(SUM(o.sales)::numeric, 2) AS numeric)  AS product_total_sales,
           CAST(ROUND(SUM(o.profit)::numeric, 2) AS numeric) AS product_total_profit,
	       ROW_NUMBER() OVER (PARTITION BY category  ORDER BY SUM(sales) DESC) AS RANK
	FROM orders AS o
	INNER JOIN products AS p
	ON o.product_id = p.product_id
	GROUP BY category, product_name
	ORDER BY category ASC, product_total_sales DESC)
SELECT category, product_name, product_total_sales, product_total_profit, RANK AS product_rank
FROM top_5
WHERE RANK < 6;

           category  ... product_rank
0         Furniture  ...            1
1         Furniture  ...            2
2         Furniture  ...            3
3         Furniture  ...            4
4         Furniture  ...            5
5   Office Supplies  ...            1
6   Office Supplies  ...            2
7   Office Supplies  ...            3
8   Office Supplies  ...            4
9   Office Supplies  ...            5
10       Technology  ...            1
11       Technology  ...            2
12       Technology  ...            3
13       Technology  ...            4
14       Technology  ...            5

[15 rows x 5 columns]

In [69]:
-- finding which quantities are missing
SELECT *
FROM orders
WHERE quantity IS NULL;

   row_id        order_id order_date  ...   profit shipping_cost order_priority
0   50688    IV-2013-8930 2013-09-04  ...  217.800         65.54         Medium
1   43428    RS-2011-1760 2011-11-29  ...  140.400         53.77           High
2   34093  CA-2011-154599 2011-04-12  ...  -18.147         24.38         Medium
3   46824    AG-2014-9060 2014-12-27  ...   24.000         12.66         Medium
4   43722    RS-2011-3610 2011-12-08  ...   42.060         11.83         Medium

[5 rows x 21 columns]

In [70]:
-- calculating the IV-2013-8930 order quantity
SELECT *
FROM orders
WHERE product_id = 'TEC-STA-10003330'
AND market = 'Africa'
AND region = 'Africa';
-- it seems that the missing quantity is 2 (253,32 * 2 pcs)

   row_id      order_id order_date  ... profit shipping_cost order_priority
0   41520  MA-2013-1850 2013-10-14  ...  653.4        286.20       Critical
1   50688  IV-2013-8930 2013-09-04  ...  217.8         65.54         Medium
2   47981   MO-2012-100 2012-08-27  ...  108.9         39.44           High
3   50687  IV-2013-8930 2013-09-04  ...  108.9         28.51         Medium

[4 rows x 21 columns]

In [71]:
-- calculating the RS-2011-1760 order quantity
SELECT *
FROM orders
WHERE product_id = 'FUR-ADV-10000571'
AND market = 'EMEA'
AND region = 'EMEA';
-- it seems that the missing quantity is 4 (109,74 * 4 pcs)

   row_id      order_id order_date  ... profit shipping_cost order_priority
0   48560  IR-2014-4150 2014-01-15  ...  280.8        119.14           High
1   43428  RS-2011-1760 2011-11-29  ...  140.4         53.77           High
2   43854  RS-2014-3790 2014-12-17  ...   70.2         28.76         Medium
3   43305   UP-2011-960 2011-09-22  ...   35.1          4.95         Medium
4   45471  UP-2013-1490 2013-10-10  ...   35.1          3.46         Medium

[5 rows x 21 columns]

In [72]:
-- calculating the CA-2011-154599 order quantity
SELECT *
FROM orders
WHERE product_id = 'FUR-BO-10001337'
AND market = 'US'
AND region = 'West';
-- it seems that the missing quantity is 3 (102.833 * 3 pcs)

   row_id        order_id order_date  ...  profit shipping_cost order_priority
0   35142  CA-2011-101931 2011-10-28  ... -36.294         93.48           High
1   31782  CA-2014-140963 2014-06-11  ... -30.245         74.40           High
2   39208  CA-2013-149762 2013-12-04  ... -12.098         34.50           High
3   34093  CA-2011-154599 2011-04-12  ... -18.147         24.38         Medium
4   37435  CA-2011-131247 2011-03-30  ... -12.098         17.41         Medium
5   33843  CA-2014-108070 2014-04-17  ...  -6.049          6.94           High

[6 rows x 21 columns]

In [73]:
-- calculating the AG-2014-9060 order quantity
SELECT *
FROM orders
WHERE product_id = 'TEC-STA-10004542'
AND market = 'Africa'
AND region = 'Africa';
-- it seems that the missing quantity is 2 (80.16 * 2 pcs)

   row_id      order_id order_date  ... profit shipping_cost order_priority
0   51089  GH-2014-4170 2014-07-10  ...     84        117.40         Medium
1   46824  AG-2014-9060 2014-12-27  ...     24         12.66         Medium
2   50014  MZ-2013-3540 2013-04-19  ...     12          4.68         Medium

[3 rows x 21 columns]

In [74]:
-- calculating the RS-2011-3610 order quantity
SELECT *
FROM orders
WHERE product_id = 'FUR-ADV-10004395'
AND market = 'EMEA'
AND region = 'EMEA';
-- it seems that the missing quantity is 2 (42.06 * 2 pcs)

   row_id      order_id order_date  ...  profit shipping_cost order_priority
0   43722  RS-2011-3610 2011-12-08  ...  42.060         11.83         Medium
1   42367  TU-2014-9100 2014-12-18  ... -58.884          7.34         Medium
2   42026  AM-2011-7110 2011-12-14  ...  21.030          4.70           High
3   50845  LH-2014-4130 2014-07-03  ... -16.824          3.55           High
4   49736  PL-2013-2260 2013-01-20  ...  21.030          3.34         Medium
5   42002    TU-2014-40 2014-05-08  ...  -8.412          2.50         Medium
6   51052  IR-2011-1690 2011-07-29  ...  21.030          1.74         Medium
7   47050  TU-2013-6430 2013-03-09  ...  -4.206          0.37           High

[8 rows x 21 columns]

In [75]:
-- impute_missing_values
WITH missing_quantities AS (
	SELECT product_id,
		discount,
		market,
		region,
		sales,
		quantity,
		COALESCE(
				quantity,                        
      			CASE product_id                   
        			WHEN 'TEC-STA-10003330' THEN 2
        			WHEN 'FUR-ADV-10000571' THEN 4
        			WHEN 'FUR-BO-10001337' THEN 3
        			WHEN 'TEC-STA-10004542' THEN 2
        			WHEN 'FUR-ADV-10004395' THEN 2
				END) AS calculated_quantity
	FROM orders
	)
SELECT *
FROM missing_quantities
WHERE quantity IS NULL;

         product_id  discount  market  ...    sales  quantity  calculated_quantity
0  TEC-STA-10003330      0.00  Africa  ...  506.640       NaN                    2
1  FUR-ADV-10000571      0.00    EMEA  ...  438.960       NaN                    4
2   FUR-BO-10001337      0.15      US  ...  308.499       NaN                    3
3  TEC-STA-10004542      0.00  Africa  ...  160.320       NaN                    2
4  FUR-ADV-10004395      0.00    EMEA  ...   84.120       NaN                    2

[5 rows x 7 columns]